<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363034307864-crb8ppvcht9iofuts0aksqru2hpf5032.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363034307864-crb8ppvcht9iofuts0aksqru2hpf5032</string>
	<key>API_KEY</key>
	<string>AIzaSyDSEQ3ouUM8u8u3ctzOVJHl-oALTWK05WQ</string>
	<key>GCM_SENDER_ID</key>
	<string>363034307864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deviceToken</string>
	<key>PROJECT_ID</key>
	<string>projet-pfe-3850d</string>
	<key>STORAGE_BUCKET</key>
	<string>projet-pfe-3850d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363034307864:ios:a257edeacc52f588c4026d</string>
</dict>
</plist>